@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-shop:before {
  content: "\e900"
}
._icon-stats:before {
  content: "\e901"
}
._icon-call:before {
  content: "\e902"
}
._icon-notebook:before {
  content: "\e903"
}
._icon-tool-box:before {
  content: "\e904"
}
._icon-users-line:before {
  content: "\e905"
}
._icon-award:before {
  content: "\e906"
}
._icon-speed:before {
  content: "\e907"
}
._icon-play:before {
  content: "\e908"
}
._icon-location:before {
  content: "\e909"
}
._icon-messagel:before {
  content: "\e90a"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50
}
.header__container {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 131px
}
.menu {
  display: flex
}
.menu__list {
  display: flex;
  gap: 21px;
  flex-wrap: wrap
}
.menu__item {
  color: #737373;
  text-align: center;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px
}
.menu__link:hover {
  text-decoration: underline
}
.footer {
  background: #17213c
}
.footer__container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem
}
.navigation-footer {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 321px
}
.navigation-footer__label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.navigation-footer__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.navigation-footer__item {
  display: flex;
  gap: .625rem
}
.navigation-footer__item:not(:last-child) {
  margin-bottom: .625rem
}
.navigation-footer__item a {
  color: #fff;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px
}
.navigation-footer__item a:hover {
  text-decoration: underline
}
.navigation-footer__icon {
  color: #8ec2f2;
  font-size: 1.5rem
}
.footer-bottom {
  background: #fafafa
}
.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem
}
.footer-bottom__rights {
  color: #737373;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px
}
.socials {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center
}
.main-section {
  background: url(../img/main/cover.webp) center no-repeat;
  background-size: cover
}
.main-section__content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 510px
}
.main-section__title {
  color: #252b42;
  font-size: 58px;
  font-weight: 800;
  line-height: 1.3793103448;
  letter-spacing: .2px
}
.main-section__text {
  max-width: 376px;
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .2px
}
.main-section__action {
  display: flex;
  gap: 10px
}
.main-section__button {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .2px;
  border-radius: 37px;
  background-color: #ff7b47;
  padding: 10px 36px;
  transition: all .3s ease 0s
}
.main-section__button:hover {
  transition: all .3s ease 0s;
  box-shadow: 0 0 15px #ff7b47
}
.main-section__button--transparent {
  text-align: center;
  color: #0d5c63;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .2px;
  border-radius: 37px;
  border: 1px solid #0d5c63;
  transition: all .5s ease 0s;
  padding: 10px 36px
}
.main-section__button--transparent:hover {
  transition: all .5s ease 0s;
  color: #fff;
  background-color: #0d5c63
}
.cards-main {
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px
}
.cards-main__item {
  padding: 35px 40px;
  background: #fff;
  box-shadow: 0 13px 19px 0 rgba(0,0,0,.07);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .5s ease 0s
}
.cards-main__item:hover {
  transition: all .5s ease 0s;
  background: #0d5c63
}
.cards-main__item:hover .cards-main__icon {
  color: #fff
}
.cards-main__item:hover .cards-main__title {
  color: #fff
}
.cards-main__item:hover .cards-main__text {
  color: #fff
}
.cards-main__icon {
  color: #0d5c63;
  font-size: 48px
}
.cards-main__title {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: .1px
}
.cards-main__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.features {
  background: #fafafa
}
.features__container {
  padding-top: 13.1875rem
}
.features__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 3.125rem
}
.features__title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px
}
.features__text {
  max-width: 32.1875rem;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.cards-features {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px
}
.cards-features__item {
  background-color: #fff;
  padding: 1.875rem 2.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .625rem
}
.cards-features__icon {
  font-size: 3rem;
  color: #0d5c63
}
.cards-features__title {
  color: v #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px
}
.cards-features__label {
  color: #737373;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.advice {
  background: #fafafa
}
.advice__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px
}
.advice__title {
  text-align: center;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px
}
.advice__text {
  max-width: 511px;
  color: #737373;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.cards-advice {
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.cards-advice__item {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column
}
.cards-advice__content {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.875rem;
  flex-grow: 1
}
.cards-advice__heading {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.cards-advice__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.cards-advice__img {
  flex-shrink: 0;
  height: 138px;
  position: relative
}
.who-we-are__container {
  padding-bottom: 8.5rem;
  padding-top: 6.25rem
}
.who-we-are__heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 6.25rem
}
.who-we-are__title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px
}
.who-we-are__subtitle {
  max-width: 511px;
  color: #737373;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.who-we-are__columns {
  display: grid;
  grid-template-columns: 56.857143% auto;
  gap: 7.5rem
}
.who-we-are__image {
  background: linear-gradient(180deg,rgba(0,0,0,0) 14.58%,rgba(56,56,56,.84) 100%);
  position: relative
}
.who-we-are__image:hover::before {
  transition: all .5s ease 0s;
  box-shadow: 0 0 30px #0d5c63
}
.who-we-are__image::before {
  transition: all .5s ease 0s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 73.6px;
  background-color: #0d5c63;
  width: 6.125rem;
  height: 6.125rem;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.who-we-are__image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: url(../img/who_we_are/play.svg) 0 0 no-repeat;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 1.5rem;
  height: 1.75rem
}
.who-we-are__image img {
  max-width: 100%
}
.column-who-we-are {
  padding-top: 1.25rem
}
.column-who-we-are__title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px;
  margin-bottom: .625rem
}
.column-who-we-are__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.list-column {
  margin-top: 3.125rem
}
.list-column__item {
  display: flex;
  gap: 1.25rem
}
.list-column__item:not(:last-child) {
  margin-bottom: 1.875rem
}
.list-column__icon {
  font-size: 2rem;
  color: #ff7b47
}
.list-column__title {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.list-column__label {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px
}
.clients {
  background-color: #fafafa
}
.clients__container {
  padding-top: 3.125rem;
  padding-bottom: 8.5625rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center
}
.subscribe {
  background: #252b42;
  max-height: 77px
}
.subscribe__container {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 986px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  background: #17213c;
  align-items: center
}
.subscribe__title {
  max-width: 266px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: .1px
}
.subscribe__form {
  flex-basis: 450px;
  display: flex
}
.subscribe__input {
  flex: 1 1 auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 15px 0 15px 20px;
  background: #f9f9f9
}
.subscribe__button {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  letter-spacing: .2px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #e6e6e6;
  background: #ff7b47;
  padding: 15px 22.5px
}
.get-in-touch {
  background: #f3f3f3
}
.get-in-touch__container {
  padding-top: 5rem;
  padding-bottom: 9.25rem
}
.get-in-touch__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .625rem;
  text-align: center;
  margin-bottom: 5rem
}
.get-in-touch__title {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.425;
  letter-spacing: .2px
}
.get-in-touch__subtitle {
  text-align: center;
  max-width: 470px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.cards-get-in-touch {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center
}
.cards-get-in-touch__item:nth-child(2) {
  padding: 80px 40px;
  background-color: #252b42
}
.cards-get-in-touch__item {
  padding: 50px 40px;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9375rem;
  transition: all .5s ease 0s
}
.cards-get-in-touch__item:nth-child(2) .cards-get-in-touch__icon {
  color: #fff
}
.cards-get-in-touch__item:nth-child(2) .cards-get-in-touch__emails {
  color: #fff
}
.cards-get-in-touch__item:nth-child(2) .cards-get-in-touch__label {
  color: #fff
}
.cards-get-in-touch__item:nth-child(2) .cards-get-in-touch__button {
  color: #fff;
  border: 1px solid #fff;
  transition: all .3s ease 0s
}
.cards-get-in-touch__item:nth-child(2) .cards-get-in-touch__button:hover {
  transition: all .3s ease 0s;
  color: #252b42;
  background-color: #fff;
  box-shadow: 0 0 15px #fff
}
.cards-get-in-touch__icon {
  font-size: 72px;
  color: #0d5c63
}
.cards-get-in-touch__emails {
  color: #252b42;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px
}
.cards-get-in-touch__label {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .1px
}
.cards-get-in-touch__button {
  color: #ff7b47;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ff7b47;
  font-weight: 600;
  line-height: 1.7142857143;
  letter-spacing: .2px;
  transition: all .3s ease 0s
}
.cards-get-in-touch__button:hover {
  transition: all .3s ease 0s;
  color: #fff;
  background-color: #ff7b47;
  box-shadow: 0 0 15px #ff7b47
}
.consulting__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between
}
.consulting__title {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: .1px
}
.consulting__title:not(:last-child) {
  margin-bottom: .625rem
}
.consulting__subtitle {
  color: #737373;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: .2px
}
.consulting__button {
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .2px;
  padding: 15px 40px;
  border-radius: 5px;
  background: #ff7b47;
  transition: all .3s ease 0s
}
.consulting__button:hover {
  transition: all .3s ease 0s;
  box-shadow: 0 0 10px #ff7b47
}
@media (min-width:67.5em) {
  .main-section__container {
    padding-top: 11.5rem
  }
  .features__container {
    padding-top: 13.1875rem
  }
  .features__container {
    padding-bottom: 5rem
  }
  .advice__container {
    padding-top: 5rem
  }
  .advice__container {
    padding-bottom: 5rem
  }
  .cards-advice {
    gap: 1.875rem
  }
}
@media (max-width:20em) {
  .main-section__container {
    padding-top: 6.25rem
  }
  .features__container {
    padding-top: 9.375rem
  }
  .features__container {
    padding-bottom: 2.5rem
  }
  .advice__container {
    padding-top: 2.5rem
  }
  .advice__container {
    padding-bottom: 3.125rem
  }
  .cards-advice {
    gap: .625rem
  }
}
@media (max-width:61.99875em) {
  .cards-main {
    grid-template-columns: 1fr 1fr
  }
  .cards-features {
    grid-template-columns: repeat(2,1fr)
  }
  .cards-advice {
    grid-template-columns: repeat(2,1fr)
  }
  .cards-advice__img {
    width: 100%
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    display: flex;
    flex-direction: column
  }
  .menu__link {
    font-size: 1.25rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    grid-template-columns: auto auto;
    justify-content: space-between
  }
  .main-section__content {
    max-width: none
  }
  .main-section__text {
    max-width: none
  }
  .cards-main {
    grid-template-columns: 1fr
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:43.5em) {
  .main-section__title {
    font-size: 2.5rem
  }
}
@media (max-width:34.375em) {
  .cards-features {
    grid-template-columns: 1fr
  }
}
@media (max-width:31.25em) {
  .main-section__action {
    display: grid;
    gap: 1.25rem
  }
  .cards-advice {
    grid-template-columns: 1fr
  }
}
@media (min-width:20em) and (max-width:67.5em) {
  @supports (padding-top:clamp(6.25rem ,4.0394736842rem + 11.0526315789vw ,11.5rem)) {
    .main-section__container {
      padding-top: clamp(6.25rem ,4.0394736842rem + 11.0526315789vw ,11.5rem)
    }
  }
  @supports not (padding-top:clamp(6.25rem ,4.0394736842rem + 11.0526315789vw ,11.5rem)) {
    .main-section__container {
      padding-top: calc(6.25rem + 5.25 * (100vw - 20rem)/ 47.5)
    }
  }
  @supports (padding-top:clamp(9.375rem ,7.7697368421rem + 8.0263157895vw ,13.1875rem)) {
    .features__container {
      padding-top: clamp(9.375rem ,7.7697368421rem + 8.0263157895vw ,13.1875rem)
    }
  }
  @supports not (padding-top:clamp(9.375rem ,7.7697368421rem + 8.0263157895vw ,13.1875rem)) {
    .features__container {
      padding-top: calc(9.375rem + 3.8125 * (100vw - 20rem)/ 47.5)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)) {
    .features__container {
      padding-bottom: clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)) {
    .features__container {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 47.5)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)) {
    .advice__container {
      padding-top: clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)) {
    .advice__container {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem)/ 47.5)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)) {
    .advice__container {
      padding-bottom: clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.3355263158rem + 3.9473684211vw ,5rem)) {
    .advice__container {
      padding-bottom: calc(3.125rem + 1.875 * (100vw - 20rem)/ 47.5)
    }
  }
  @supports (gap:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,1.875rem)) {
    .cards-advice {
      gap: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.0986842105rem + 2.6315789474vw ,1.875rem)) {
    .cards-advice {
      gap: calc(.625rem + 1.25 * (100vw - 20rem)/ 47.5)
    }
  }
}